body {
  margin: 0 25%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: justify;
}

header {
  padding-top: 75px;
  padding-bottom: 25px;
  margin: 0;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
  font-weight: bold;
  padding-bottom: 15px;
  letter-spacing: -1px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: inline;
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;
  color: gray;
  font-size: 1.2em;
}

main {
  padding-bottom: 10px;
}

main p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  border: none;
  height: 0.5px;
  background-color: lightgray;
}

.images {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.images img {
  width: 50px;
  height: 50px;
  margin: 0;
}

.social {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

footer {
  text-align: center;
}

@media (max-width: 768px) {
  body {
    margin: 0 5%;
  }

  header h1 {
    font-size: 1.8em;
  }

  nav {
    justify-content: flex-end;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px 0;
  }

  .images img {
    width: 30px;
    height: 30px;
  }
}

/* Styles for Dark Mode Toggle Button */
#dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 15px;
}

#dark-mode-toggle:focus {
  outline: none;
}

body.dark-mode #dark-mode-icon {
  color: #ffd700; /* Sun color for light mode */
}

#dark-mode-icon {
  color: gray; /* Moon color for dark mode */
}

/* Base Dark Mode Styles */
body.dark-mode {
  background-color: #121212; /* Dark background color */
  color: #e0e0e0; /* Light text color */
}

/* Adjust header styles for dark mode */
body.dark-mode header h1 {
  color: #e0e0e0;
}

/* Adjust navbar links for dark mode */
body.dark-mode nav ul li a {
  color: #e0e0e0; /* Light text color for links */
}

body.dark-mode nav ul li a:hover {
  color: #ffffff; /* Hover color for links */
}

/* Adjust horizontal rule for dark mode */
body.dark-mode hr {
  background-color: #333; /* Darker line color */
}

/* Adjust footer styles for dark mode */
body.dark-mode footer p {
  color: #e0e0e0;
}
